<a href="https://colab.research.google.com/github/FairozaAmira/basic_algorithms_a/blob/master/Lecture08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第８回目の講義中の練習問題回答

## `for` ループ

1. `for`ループを使って、1 から 5　まで表示しなさい。

In [0]:
for N in [1, 2, 3, 4, 5]:
    print(N)

1
2
3
4
5

2. １番目で書いたコードを一行で表示するように修正しなさい。

In [0]:
for N in [1,2,3,4,5]:
    print(N, end=' ')

1 2 3 4 5

3. `range`を使って、1から5まで一行に表示しなさい。

In [0]:
for N in range(1,6):
  print(N, end=" ")

1 2 3 4 5

`range`は普通０から始まる。`in range(start,end+1,step)`という意味。

4. 1 から 5 までの一つのリストを作りなさい。

In [0]:
list(range(1,6))

[1, 2, 3, 4, 5]

5. 3の倍数のNループを作りなさい。但し、Nは30より小さいまたは等しいとする。

In [0]:
for N in range(3,31,3):
    print(N)

3
6
9
12
15
18
21
24
27
30

6. 1から5までの合計を計算しなさい。

In [0]:
#totalを初期化する
total = 0 
for N in range(1,6):
    total += N  #totalを毎回Nと加算させる
print(total)

15

7. `places`リストを作り、`for`ループを使って、スペースを”－”と代入して、最初の文字が大文字にした`new_places`リストを作りなさい。

`places = ["kamigyo ku","nakagyo ku", "sakyo ku"]`を<br/>
`new_places=['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']`にしなさい。

In [0]:
places = ["kamigyo ku","nakagyo ku", "sakyo ku"]
new_places = []

for place in places:
    new_places.append(place.capitalize().replace(" ","-"))
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']

In [0]:

new_places = ["kamigyo ku","nakagyo ku", "sakyo ku"]

for i in range(len(new_places)):
    new_places[i] = new_places[i].capitalize().replace(" ", "-")
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']

8. かごの中にある果物の数を数えましょう。

かごの辞書は下記通り。<br/>
`basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}`
果物のリストは下記通り。<br/>
`fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']`

In [0]:
total = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for object, calculate in basket_items.items():
    if object in fruits:
        total += calculate

print("かごの中には{}個の果物が入っている.".format(total))

かごの中には23個の果物が入っている.

9. かごの中には果物ではないものを数えなさい。

In [0]:
total = 0
for object, calculate in basket_items.items():
    if object not in fruits:
        total += calculate

print("かごの中には{}個のものが果物ではない.".format(total))

かごの中には11個のものが果物ではない.

## `while` ループ

1. 1から10まで`while`ループを使って、表示しなさい。同じく、`for`ループを使って表示しなさい。比較してみましょう。

In [0]:
i = 1 #初期化
while i < 11: #最後の値
    print(i)
    i += 1 #ステップ

1
2
3
4
5
6
7
8
9
10

In [0]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. 1から10までの合計を`while`と`for`ループを使って、計算しなさい。

In [0]:
i = 1
total = 0
while i <= 10:
    total += i 
    i += 1
    
print(total)

55

In [0]:
total = 0
for i in range(1,11):
    total += i
print(total)

55

3. 50の一番近い2乗を`while`ループを使って、表示しなさい。答えは`49`。

In [0]:
limit = 50

num = 0
while (num+1)**2 < limit:
    num += 1
nearest_square = num ** 2
print(nearest_square)

49

## `break`と`continue`

1. 1から20の奇数を`continue`を使って、表示しなさい。

In [0]:
for n in range(20):
    #もし計算のあまりが0の場合、ループをスキップ
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

2. `break`を使って、下記の文章を100文字まで表示しなさい。

`機械学習では、センサやデータベースなどに由来するサンプルデータを入力して解析を行い、そのデータから有用な規則、ルール、知識表現、判断基準などを抽出し、アルゴリズムを発展させる。そのアルゴリズムは、まずそのデータ（訓練例と呼ぶ）を生成した潜在的機構の特徴（確率分布）を捉え、複雑な関係を識別・定量化する。次に学習・識別したパターンを用いて新たなデータについて予測・決定を行う。データは、観測された変数群のとる関係の具体例と見ることができる`

In [0]:
paragraph = "機械学習では、センサやデータベースなどに由来するサンプルデータを入力して解析を行い、そのデータから有用な規則、ルール、知識表現、判断基準などを抽出し、アルゴリズムを発展させる。そのアルゴリズムは、まずそのデータ（訓練例と呼ぶ）を生成した潜在的機構の特徴（確率分布）を捉え、複雑な関係を識別・定量化する。次に学習・識別したパターンを用いて新たなデータについて予測・決定を行う。データは、観測された変数群のとる関係の具体例と見ることができる"

for p in paragraph:
    if len(paragraph) >= 100:
        sentence = paragraph[:100]
        break
print(sentence)

機械学習では、センサやデータベースなどに由来するサンプルデータを入力して解析を行い、そのデータから有用な規則、ルール、知識表現、判断基準などを抽出し、アルゴリズムを発展させる。そのアルゴリズムは、まず

## 生入力スクリプト

1. ユーザーを自分の名前を入力させてください。

In [0]:
name = input("名前: ")
print(name)

名前: Fairoza
Fairoza

2．ユーザーに`こんにちは`とあいさつしましょう。

In [0]:
print("こんにちは {}!".format(name))

こんにちは Fairoza!

3. ユーザーの年齢を聞きましょう。

In [0]:
age = input("年齢: ")
print(age)

年齢: 28
28

4. ユーザーの5年後の年齢を表示しなさい。

In [0]:
age = int(age)
age_5_years_later = age + 5
print(age_5_years_later)

33

5. 下記のように出力しましょう。

`こんにちは <name>さん! 
<name>さんは今<age>歳ですが、5年後は<age_5_years_later>歳になりますよ。`

In [0]:
print("こんにちは{}さん! {}さんは今{}歳ですが、5年後は{}歳になりますよ".format(name, name, age, age_5_years_later))

こんにちはFairozaさん! Fairozaさんは今28歳ですが、5年後は33歳になりますよ

6. もしたくさんのユーザーがいて、`for`ループを使って、どうやって簡単に表示できますか？

In [0]:
names = input("コマで区切って名前を入力して: ").title().split(",")
ages = input("コマで区切って年齢を入力して: ").split(",")
message = "こんにちは{}さん! {}さんは今{}歳ですが、5年後は{}歳になりますよ"

for name, age in zip(names, ages):
    print(message.format(name, name, age, int(age)+5))

コマで区切って名前を入力して: Fairoza, Fairuz
コマで区切って年齢を入力して: 28, 21
こんにちはFairozaさん! Fairozaさんは今28歳ですが、5年後は33歳になりますよ
こんにちは Fairuzさん!  Fairuzさんは今 21歳ですが、5年後は26歳になりますよ

## エラーと例外

1. 変数を設定せずに、表示しようとしたらどうなりますか？

In [0]:
print(x)

NameError: ignored

2. 文字列と整数を算術しようとしたら、どうなりますか？

In [0]:
1 + 'abc'

TypeError: ignored

3. 存在しないリストのインデックスをアクセスしようとしたら、どうなりますか？

In [0]:
L = ["a", "b", "c"]
L[1000]

IndexError: ignored

In [0]:
L = ["a", "b", "c"]
L["d"]

TypeError: ignored

4. `try`と`except`の関数を使って、エラーを見つかりましょう。

下記の文を実行してみてください。

```
try:
    print("this gets executed first")
except:
    print("this gets executed only if there is an error")
```

In [0]:
try:
    print("this gets executed first")
except:
    print("this gets executed only if there is an error")

this gets executed first

5. `x=1/0`を`try`のところに足してみたら？

In [0]:
try:
    print("let's try something:")
    x = 1 / 0 # ZeroDivisionError
except:
    print("something bad happened!")

let's try something:
something bad happened!

6. 例外を`raise`しましょう。

In [0]:
raise RuntimeError("my error message")

RuntimeError: ignored

7. `x=10`とすると、`x`は5以上の場合、例外を`raise`してください。

In [0]:
x = 10
if x > 5:
    raise Exception('x should not exceed 5. The value of x was {}'. format(x))

Exception: ignored

8. `try`と`except`の他に、`else`と`finally`は例外を実行させる。`finally`なら、どんなことがあっても、実行させる。

In [0]:
try:
    print("try something here")
except:
    print("this happens only if it fails")
else:
    print("this happens only if it succeeds")
finally:
    print("this happens no matter what")

try something here
this happens only if it succeeds
this happens no matter what