<a href="https://colab.research.google.com/github/FairozaAmira/basic_algorithms_a/blob/master/Lecture10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第１０回目の授業中練習問題の解答例

## イテレータ

1. `range`を使って、1から10までを表示されたループを作りなさい。

In [0]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. 下記のリストから一個ずつの数字が表示できるように、ループを作りなさい。

`[1,2,3,4,5]`

In [0]:
for number in [1, 2, 3, 4, 5]:
    print (number)

1
2
3
4
5

3. `iter`と`next`関数を使って、２番目のリストの各数字を表示せよ。

In [0]:
I = iter([1,2,3,4,5])
print(next(I))
print(next(I))
print(next(I))
print(next(I))
print(next(I))

1
2
3
4
5

4. 下記のコマンドを試してみなさい。

`range(10)` <br/>
`iter(range(10))`

In [0]:
range(10)

range(0, 10)

In [0]:
iter(range(10))

5. `enumerate` 関数を使って、下記のリストをループし、各インデクスと値を表示せよ。

`L = [1,2,3,4,5]`

In [0]:
L = [1,2,3,4,5]
for index, value in enumerate(L):
    print(index, value)

0 1
1 2
2 3
3 4
4 5

In [0]:
for i in range(len(L)):
    print(i, L[i])

0 1
1 2
2 3
3 4
4 5

6. 二つのリストがあり、リスト２の各値をリスト１の右側に表示しなさい。

`L1 = [1,2,3,4,5]` <br/>
`L2 = [6,7,8,9,10]` 

ヒント：`zip`の関数を使う。

In [0]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,10]

for val_1, val_2 in zip(L1,L2):
    print(val_1,val_2)

1 6
2 7
3 8
4 9
5 10

7.`*`を使っても、繰り返せる。
例：`*range()`

In [0]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

8. `itertools`関数は数学の関数にも使える。
例：
```
from itertools import permutations
p = permutations (3)
print(*p)
```
３の順列を計算し、表示させる。

In [0]:
from itertools import permutations
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

9. `zip`関数を辞書で使いましょう。下記のリストから辞書を作りなさい。

`names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]` <br/>
`age = [16, 20, 24, 18, 30]`

In [0]:
names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
age = [16, 20, 24, 18, 30]
people = dict(zip(names, age))
print(people)

{'Barney': 16, 'Robin': 20, 'Ted': 24, 'Lily': 18, 'Marshall': 30}

10. 9番目で作った辞書をタプルを作って、解凍しなさい。

In [0]:
cast = (("Barney", 16), ("Robin", 20), ("Ted", 24), ("Lily", 18), ("Marshall", 30))

# define names and heights here
names, age = zip(*cast)

print(names)
print(age)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(16, 20, 24, 18, 30)

## リスト内包表記

1. ループを使って1から200までの偶数リストを作りなさい。

In [0]:
numbers = []
for number in range(1,200):
    if number % 2 == 0:
        numbers.append(number)
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

2. リスト内包表記を使って、１番目と同じような結果が出るようにコードを書きなさい。

In [0]:
numbers = [number for number in range(1,200) if number % 2 == 0]
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

3. 以下の出力が出るように、リスト内包表記を使用して、コードを書きなさい。


```
[(0,0), (0,1), (1,0), (1,1)]
```

In [0]:
L = [(i,j) for i in range(2) for j in range(2)]
print(L)

[(0, 0), (0, 1), (1, 0), (1, 1)]

4. リスト内包表記を使って、$n^2$の結果を表示しなさい。<br/>
$n=1,...,10$とし、<br/>
$n = n^2$

In [0]:
squares = [n ** 2 for n in range(11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5. 下記の辞書に基づいて、リスト内包表記を使って、６０以上のスコアを持っている人のリストを作りなさい。


```
scores = {
            "Tanaka": 20,
            "Kimura": 60,
            "Li": 89,
            "Kim": 78,
            "Albert": 73
            }
```

In [0]:
scores = {
             "Tanaka": 20,
             "Kimura": 60,
             "Li": 89,
             "Kim": 78,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 60]
print(passed)

['Kimura', 'Li', 'Kim', 'Beth Smith']

## ジェネレータ

1. リスト内包表記とジェネレータを使用して、以下のリストを作りなさい。
以下のリストは、1から40までの４倍数となる。

```
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
```

In [0]:
numbers = [n * 4 for n in range(1,11)]
print(numbers)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [0]:
numbers = (n * 4 for n in range(1,11))
print(numbers)
print (list(numbers))

<generator object <genexpr> at 0x7f6b30ff0fc0>
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

2. ジェネレータを使って、１から２０のループを１０の後にいったん止めて、またループを続ける。
出力結果は下記のようである。


```
1 2 3 4 5 6 7 8 9 10
いったん止める
11 12 13 14 15 16 17 18 19 20
```

In [0]:
G = (n for n in range(1,21))
for n in G:
    print (n, end=' ')
    if n >= 10:
        break

print("\nいったん止める")

for n in G:
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10
いったん止める
11 12 13 14 15 16 17 18 19 20

3. `yield`を使って、最初に書いたジェネレータ表記の二つ目のジェネレータ関数を書きなさい。
出力結果は以下となります。


```
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
```
リスト内包表記を使って、コードを書き、上のジェネレータ関数と比較しなさい。

In [0]:
numbers_1 = (n * 4 for n in range(1,11))

def gen():
    for n in range(1,11):
        yield n * 4

numbers_2 = gen()

a = list(numbers_1)
b = list(numbers_2)

print(a)
print(b)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [0]:
L1 = [n * 4 for n in range(1,11)]

L2 = []
for n in range(1,11):
    L2.append(n * 4)

print(L1)
print(L2)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

4. 100までの素数リストをジェネレータ関数を作りなさい。素数とは、1 より大きい自然数で、正の約数が 1 と自分自身のみであるもののことである。そして、`if`と`for`ループを使って１００までの素数を表示しなさい。

In [0]:
def gen_primes(N):
    primes = set()
    for n in range(2, N):
        if all(n % p > 0 for p in primes):
            primes.add(n)
            yield n

print(list(gen_primes(100)))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [0]:
primes = []
for possiblePrime in range(2, 101):    
    # Assume number is prime until shown it is not. 
    isPrime = True
    for num in range(2, possiblePrime):
        if possiblePrime % num == 0:
            isPrime = False      
    if isPrime:
        primes.append(possiblePrime)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]